//icons
.icon {
    background-repeat: no-repeat;
    background-size: auto;
    display: inline-block;
    font-style: normal;
    position: relative;
    vertical-align: middle;
}
.i-koda {
    background-image: url(../images/logo.png);
    width: 270px;
    height: 65px;
}

.i-arrow {
    background-image: url(../images/arrow.png);
    width: 25px;
    height: 25px;
}
.i-fb {
    background-image: url(../images/facebook.png);
    width: 24px;
    height: 24px;
}
.i-email {
    background-image: url(../images/email.png);
    width: 24px;
    height: 24px;
}
.i-twit {
    background-image: url(../images/twitter.png);
    width: 24px;
    height: 24px;
}